@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Приветствуем Вас,Администратор</h2>
<p>
    <img src="~/Content/admin.jpg" alt="" width="1000" height="500" align="middle" />
</p>
