@using KursachOliaMarina.Models
@model Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Меню</legend>

    <div class="display-label"><b>Дата</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfMenu)
    </div>


    <div class="display-label"><b>Состав: </b></div>
    <ul>
        @foreach (Dish c in Model.Dishes)
        {
            <li><b>@c.DishName </b> <br> Цена: @c.Price Вес: @c.Weight</li>
        }
    </ul>

</fieldset>

