@using KursachOliaMarina.Models
@model KursachOliaMarina.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Состав меню</legend>

    <div class="display-label"><b>Дата</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfMenu)
    </div>


    <div class="display-label"><b>Состав: </b></div>
    <ul>
        @foreach (Dish c in Model.Dishes)
        {
            <li>@c.DishName</li>
        }
    </ul>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
