@model IList<KursachOliaMarina.Models.Dish>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Топ блюд</h2>

<form align = "center">
            @foreach (var s in ViewBag.Dishes)
            {
                <option data-tokens="@s.DishName" value="@s.Id">
                    <b>@s.DishName</b>
                    <b>Популярность </b>@s.Popularity,
                </option>
            }
        </select>
</form>

