@using KursachOliaMarina.Models

@model KursachOliaMarina.Models.Zakaz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>
<fieldset>
    <legend>Информация о блюде</legend>

    

    <div class="display-label"><b>Дата заказа</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfZakaz)
    </div>


    <div class="display-label"><b>Блюда в заказе: </b></div>
    <ul>
        @foreach (Dish c in Model.Dishes)
        {
            <li>@c.DishName</li>
        }
    </ul>

</fieldset>

