@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        <img src="~/Content/main.jpg" alt="" />
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
          <img src="~/Content/povar.jpg" alt="" align="center"/>
        </p>
        <a class="btn btn-default" @Html.ActionLink("Топ 10 блюд", "TopDishes", "Dishes")</a>
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Content/menu.jpg" alt="" />
        </p>
         <a class="btn btn-default" @Html.ActionLink("Меню", "Details/1", "Menus")</a>
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Content/user.jpg" alt="" />
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Топ 10 клиентов", "TopUsers", "Users")</a></p>
    </div>
</div>