@model KursachOliaMarina.Models.User

@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>IndexUser</h2>
@Html.ActionLink("Сделать заказ", "CreateZakaz" ) 
<p>
    <img src="~/Content/ruki.jpg" alt="" width="400" height="400" align="right" />
</p>

